In [1]:
import pandas as pd

data = pd.read_json('./images/ExifDatatest.json')
data.head()

,theme,image,width,height,format,orientation,color_0,color_1,color_2,color_3,color_4,red,green,blue
0,Exoplanet,55_Cancri_b.jpg,1024,768,PNG,no exif,darkgrey,black,black,black,black,5.124176,8.128027,23.954838
1,Exoplanet,Gliese_876_e.jpg,1587,919,PNG,no exif,black,darkgrey,darkgrey,black,darkgrey,24.409671,34.521034,47.234119
2,Exoplanet,XO-3b.jpg,800,500,JPEG,no exif,black,brown,lightgrey,red,darkgrey,60.236171,21.336108,12.281942
3,Exoplanet,OGLE-2005-BLG-169Lb.jpg,1271,746,JPEG,no exif,black,darkgrey,darkgrey,grey,black,10.126329,9.245700,8.338099
4,Exoplanet,Kepler-242b.jpg,1980,1200,JPEG,no exif,black,brown,white,brown,darkgrey,36.780423,15.952044,13.286230

In [3]:
data.loc[data['theme']=='Pokemon']

,theme,image,width,height,format,orientation,color_0,color_1,color_2,color_3,color_4,red,green,blue
184,Pokemon,torracat.jpg,120,120,JPEG,no exif,brown,white,grey,darkgrey,lightgrey,179.524061,151.488029,138.175308
185,Pokemon,incineroar.jpg,120,120,JPEG,no exif,white,brown,lightgrey,darkgrey,lightgrey,186.188164,140.803198,131.326702
186,Pokemon,toucannon.jpg,120,120,JPEG,no exif,white,darkgrey,lightgrey,grey,grey,168.339844,157.944392,149.468941

In [4]:
len(data)

355

In [6]:
import os

files = os.listdir('./images/Pokemon/')
len(files)

371

In [14]:
import pandas as pd
dataPok = pd.DataFrame(files, columns=['filename'])
dataPok.head()

        filename
0     raikou.png
1   articuno.png
2    banette.png
3  staraptor.png
4    taillow.png

In [15]:
find_end = lambda x: x.find('.png')
dataPok['find_png'] = dataPok['filename'].apply(find_end)
dataPok

          filename  find_png
0       raikou.png         6
1     articuno.png         8
2      banette.png         7
3    staraptor.png         9
4      taillow.png         7
..             ...       ...
366  combusken.png         9
367   slowpoke.png         8
368   floatzel.png         8
369     latios.png         6
370        mew.png         3

[371 rows x 2 columns]

In [17]:
dataPok.loc[dataPok['filename'] == -1]

Empty DataFrame
Columns: [filename, find_png]
Index: []

In [22]:
import re

find_end = lambda x: re.match('\.(?:png)$', x)
dataPok['find_png2'] = dataPok['filename'].apply(find_end)
dataPok

          filename  find_png find_png2
0       raikou.png         6      None
1     articuno.png         8      None
2      banette.png         7      None
3    staraptor.png         9      None
4      taillow.png         7      None
..             ...       ...       ...
366  combusken.png         9      None
367   slowpoke.png         8      None
368   floatzel.png         8      None
369     latios.png         6      None
370        mew.png         3      None

[371 rows x 3 columns]

In [24]:
dataPok.loc[dataPok['find_png2'].notnull()]

Empty DataFrame
Columns: [filename, find_png, find_png2]
Index: []

# Transformation de PNG a JPG

In [33]:

from PIL import Image
import PIL
import os
  
dir = './images/Pokemon'
files = os.listdir(dir)
files.remove('.DS_Store')
#open image in png formats
for file in files:
    print(file, end='\r')
    try:
        img_png = Image.open(dir+ '/' + file, formats=['png'])
        img_jpg = img_png.convert('RGB')
        img_jpg.save(dir+'2/' + file[:-4] + '.jpg')
    except PIL.UnidentifiedImageError:
        print('\nerror\n')
#The image object is used to save the image in jpg format

/usr/local/lib/python3.10/site-packages/PIL/Image.py:996: UserWarning: Palette images with Transparency expressed in bytes should be converted to RGBA images
  warnings.warn(

errorcat.jpgnged.png
erroreroar.jpg
erroron.csvngg
errornnon.jpg